@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;600&display=swap');

/* BODY */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* NAVEGACION */
#navegacion{
  position: fixed;
  width: 100%;
  z-index: 6666;
}
#menu ul li a{
  text-decoration: none;
  color: white;
  margin: 0 12px;
  transition: 0.5s;
}
#menu ul li a:hover{
  color: blueviolet;
}

#redes a{
  color: white;
  font-size: 30px;
  margin: 0 10px;
}
#redes ul li a:hover{
  color: blueviolet;
}

#sesion button{
  color: white;
  font-size: 30px;
}

#sesion button:hover{
  color: blueviolet;
}

/* SECCION ENCABEZADO */

.banner {
  background-image: url(./assets/banner_portfolio.jpeg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -o-background-size: cover;
  -msn-background-size: cover;
}

.presentacion{
  max-width: 1100rem;
  height: 100vh;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bienvenida{
  font-size: 1em;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.descripcion h1{
  font-size: 0.7em;
}
.descripcion span{
  font-size: 1.6em;
  font-weight: bold;
  color: rgb(228, 21, 62);
}

.tituloPresentacion{
padding: 2vw;
font-size: 1.5em;

}

.frase{
  font-size: 1.1em;
  font-family: cursive;
  padding-right: 10vw;
}

/* SECCION LOGIN */
form .formulario{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formulario input{
  width: 140%;
  padding: 0 15px;
  height: 50px;
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
}


.formulario label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: .5s;
  pointer-events: none;
}


.pass{
  margin: 30px 0 20px 5px;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}

#btn-login{
  width: 100%;
  height: 50px;
  cursor: pointer;
  outline: none;
}
/* SECCION SOBRE MI */

#sobremi{
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: black;
  display: flex;
  flex-direction: row;
  text-align: center;
}
#sobremi div{
  width: 100%;
  padding: 10px;
}

.contenedor-foto{
  max-width: 500px;
  margin-right: 65px;
}

.contenedor-foto img{
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(190, 190, 190);
}

.descripcion2{
text-align: center;}

.titulo-seccion{
  font-size: 30px;
  text-decoration: underline 5px;
  text-decoration-color: rgb(190, 190, 190);
}

.nombre-completo{
  font-size: 2em;
  font-weight: bold;
  margin: 25px 5px;
  letter-spacing: 3px;

}
.nombre-completo span{
  color: rgb(243, 8, 51);
  font-size: 1em;
  width: 100vw;


}

.titulo{
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.text-descripcion{
  font-size: 1em;
  line-height: 35px;
  margin-bottom: 12px;
}

/* SECCION MIS EXPERIENCIAS */

#experiencia{
  padding: 100px 15px;
  text-align: center;
  background-color: rgb(233, 213, 252);
}

.card{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 30px auto;
  font-size: 18px;
}

.card-title{
  font-size: 24px;
  padding-top: 30px;
}
.card-img-top{
  min-height: 200px;
}

.fecha{
  padding: 15px;
  font-size: 15px;
}

.card:hover{
  box-shadow: 5px 5px 10px grey, -5px -5px 10px rgb(184, 182, 182);
}

/* SECCION EDUCACION */

#educacion{
  padding: 100px 15px;
  text-align: center;
  background-color: rgb(240, 236, 236);
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 80px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid blueviolet;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.title-educacion{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;

}

.logo-educacion{
  margin-right: 20px;
}

.fecha{
  display: flex;
  justify-content: end;
  font-weight: bold;
}

/* SECCION HABILIDADES */

#habilidades{
  padding: 100px 15px;
  text-align: center;
  background: linear-gradient(45deg, blueviolet, pink);
}

#habilidades ul.col3{
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
}

#listaHabilidades{
 display: flex;
 flex-direction: row;

}

#habilidades .nav-link{
  text-decoration: none;
  color: white;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

#habilidades .nav-link:hover{
  color: blueviolet;
}


.contenedorDuras, .contenedorBlandas, .contenedorIdiomas{
  display: none;
  padding: 10px;
}
#duras:hover .contenedorDuras, #blandas:hover .contenedorBlandas, #idiomas:hover .contenedorIdiomas { display:block }


h3{
  padding: 10px;
}

/* SECCION PROYECTOS */

#proyectos{
  padding: 100px 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#proyectos .card{
  filter: grayscale(1);
}
#proyectos .card:hover{
  filter: grayscale(0);
}

.buttons{
  display: flex;
  justify-content: center;
}

#codigo, #demo{
  margin: 35px;
}

/* SECCION FOOTER */

.footer{
  width: 100%;
}
#copy{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  /* margin:5px; */
}

#redes a{
  margin: 0 10px;
  color: white;
}
#redes a:hover{
  color: blueviolet;
}

/*SECCION EDICION*/
.edit{
  display: flex;
  justify-content: flex-end;
}

.edit i{
  margin: 5px 12px;
  font-size: 25px;
}

.buttonedit{
border: none;
background-color: transparent;
}
#editPresentacion{
  background-color: transparent;
  z-index: auto;
}

#editExperiencia{
  background-color: rgb(233, 213, 252);
}

#editEducacion{
  background-color: rgb(240, 236, 236);
}

#editHabilidades{
  background: linear-gradient(45deg, blueviolet, pink);

}

/* SECCION RESPONSIVE */
@media screen and (max-width:1134px){

  #nav ul{display: none;}

  #icono-nav{
    display: block;
  }

  #buttonresponsive{
    margin-right: 40px;
  }
  #nav.responsive{
    display: block;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 0;
    padding: 35px 0;
    font-size: 12px;
  }

  #nav.responsive ul{
    display: block !important;
    text-align: center;
  }

  #nav.responsive ul li{
    margin: 20px 10px;
  }

  #redes ul li{
    padding-right: 20px;  }

  #sobremi{
    padding: 50px 0;
    display: block;
    text-align: center;
    }

    .contenedor-foto img{
      display: flex;
      flex-direction: column;
      margin-left: 20vw;
    }

    .descripcion{
      margin-left: 20vw;
      font-size: 2.5em;
    }
    .titulo-seccion, .nombre-completo, .titulo{
      text-align: center;
      margin-top: 10px;
    }

    #proyectos{
      display: flex;
      flex-direction: column;
    }

    #proyectos .card{
      justify-content: center;
    }
    .footer{
      justify-content: center;
      width: 100%;}

    #copy{
      text-align: center;
    }
  }

  @media(hover:hover){
    #duras:hover .contenedorDuras, #blandas:hover .contenedorBlandas, #idiomas:hover .contenedorIdiomas { display:block }

  }